<!DOCTYPE html>
<html lang="en">
{% load static %}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="48x48" href="{{general_setting.faveicon.url}}">
    <!--{% static '' %}-->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600&amp;display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />

    <!-- Fontawesome CSS-->
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}" />

    <!-- slick css -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/customs.css' %}" />

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Preloader -->
    {% comment %} <div class="preloader-wrapper">
        <div class="preloader">
            <div class="preloader-circle" id="status">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Preloader end -->

    <!-- Header -->
    {% include "base/header.html" %}
    <!-- header end -->

    {% block content %}{% endblock %}

    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo">
                    <a href="#">
                        <h5 class="brand-name">{{general_setting.name}}</h5>
                    </a>
                </div>
                <div class="footer-copyright">
                    <p>{{general_setting.footer_text}}</p>
                </div>
                <div class="social-links">
                    <ul>
                        {% for social in social_media %}
                        <li><a href="{{social.url}}" target=_blank><i class="{{social.icon_class}}"></i></a></li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->

    <!-- Scroll to top -->
    <div id="stop" class="scroll-to-top">
        <span><a href="#"><i class="fas fa-arrow-up"></i></a></span>
    </div>
    <!-- Scroll to top end -->

    {% block extra_content %}{% endblock %}

    <!-- Javascript -->
    <script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'assets/js/ResizeSensor.min.js' %}"></script>
    <script src="{% static 'assets/js/theia-sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- sweetalert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    {% if messages %}
    {% for message in messages %}
    <script>
        Swal.fire({
            icon: "{{ message.tags }}",
            title: "{{ message.tags }}",
            text: "{{message}}",
        })
    </script>
    {% endfor %}
    {% endif %}

</body>

</html>